body{
  margin:0;
  background-color: #F2E8DF;
}

.center{
  text-align: center;
}

/*.row{
  padding:10px;
}*/

.column img{
    width:100%;
}

.columns img{
    width:100%;
}

#header{
  padding-bottom:-5px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
}

#container,
.lead,
#footer{
  padding:10px;
}


#header,
#footer{
  background:#7F1249;
  color: #F2E8DF;
}

#header h1{
  text-align: center;
}

#header #header-menus{
  text-align: center;
  margin-top:5px;
  margin-bottom:-15px;
}

#header ul{
  margin-bottom:0;
}

#header ul li{
  list-style: none;
  text-align: right;
  display: inline-block;
  margin-bottom:0;
}

#header #main-menu li{
  background: #F2E8DF;
  font-size: 1.5em;
  color:#7F1249;
  padding:10px 20px 20px 20px;
  border-radius: 5px;
  margin-left:5px;
}

#header #main-menu li a{
  color:#7F1249;
  text-decoration: none;
}

#header #main-menu li a.active{
  text-decoration: underline;
  font-weight: 800;
}

#footer{
  padding-top:25px;
}


/**********************************
  PLAY PAGE
**************************************/

.lead{
  font-size: 1.25em;
}

.lead p{
  text-align: center;
  font-weight: 600;
}

.card{
  min-height:400px;
}

.card img:hover{
  webkit-box-shadow: 0px 0px 19px -1px rgba(64,153,255,1);
  -moz-box-shadow: 0px 0px 19px -1px rgba(64,153,255,1);
  box-shadow: 0px 0px 19px -1px rgba(64,153,255,1);
}

h1{
  color:#ffffff;
}

.card h3,
.card h4{
  text-align: center;
  margin-bottom:0;
  margin-top:0;
  font-size: 1.25em;
}

.card h3{
    font-weight: 600;
}

.step-text{
  font-size: 2em;
  text-align: center;
}

.currentPolitico{
  font-weight: 800;
  color:#BF1B6E;
}

/*#mad-lib, #choose-card{
  border-bottom:#cccccc 3px solid;
}*/

#mad-lib p{
  text-align: center;
}

.mad-lib-img{
  width:300px;
  margin-left:auto;
  margin-right:auto;
}

span.fill-in,
span.selectAll{
  background:#cccccc;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 200;
  color:#666666;
  min-height: 30px;
}


#quote{
  font-size: 1.5em;
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.shareButton {
	background-color:#4e88c9;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:15px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.shareButton:hover {
	background-color:#72a4dc;
}
.shareButton:active {
	position:relative;
	top:1px;
}

#real-quote{
  max-width: 500px;
  margin: auto;
  display:block;
  background: #F2D0D3;
  -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:10px 20px;
}

#share img{
  display:block;
  margin: 0 auto;
}


/**********************************
  RESULTS PAGE
**************************************/

#feature img{
  display: block;
  margin:0 auto;
}



@media (min-width: 60em) {
  
  #header #header-menus{
    text-align: right;
    margin-top:50px;
  }
  
  #header h1{
    text-align: left;
  }
  
  
}


